/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'PT Sans',sans-serif;
}
img{
    width: 100%;
}
/* COMMON */
:root{
    /* Color */
    --primary-col: #0084FD;
    --primary-col-light: #B5DDFF;
    --secondary-col: #9792E4;

    /* font-color */
    --font-white:#FFFFFF;
    --font-black: #000000;
    --font-yellow: #FDC15F;
}
.container{
    width: 100%;
}
.display-flex{
    display: flex;
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
/* HEADER-BAR */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--primary-col);
    padding: .5em .8em;
}
header .menu-mobile{
    color: var(--font-white);
}
header .menu-desktop{
    display: none;
}
.menu-desktop ul{
    display: flex;
    color: var(--font-white);
}
header li{
    list-style-type: none;
    margin-left: .5em;
}
/* MAIN */
.row{
    padding: 1.5em;
}
.card{
    padding: 1em;
    text-align: center;
    background-color: var(--primary-col-light);
    border-radius: 15px;
    margin-bottom: 1em;
    /* debug */
    border: 1px solid red;
}
/* SECTION ABOUT */
#about{
    padding-top: 5rem;
}
#about .card:first-child{
    padding-bottom: 0;
}
/* SECTION PLANNING */
#planning{
    padding: 1rem;
    background-color: var(--secondary-col);
}
#planning .planning-card{
    background-color: var(--font-white);
    border-radius: 30px;
}
/* SECTION PARTNERS */
#partners .row{
    width: 100%;
}
.partner-card{
    background-color: var(--secondary-col);
    /* debug */
    border: 1px solid red;
}
.partner-card img{
    border-radius: 50%;
}
/* SECTION BENEFITS */
#benefit{
    background-color: var(--secondary-col);
}
.col{
    background-color: var(--font-white);
    /* debug */
    border: 1px solid black;
}