/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'PT Sans',sans-serif;
}
/* COMMON */
:root{
    /* Color */
    --primary-col: #0084FD;
    --primary-col-light: #B5DDFF;
    --secondary-col: #9792E4;

    /* font-color */
    --font-white:#FFFFFF;
    --font-black: #000000;
    --font-yellow: #FDC15F;
}